.draft-editor-container {
  min-height: 180px;
  height: calc(100% - 50px);
  overflow-y: scroll;
  padding: 0 10px;
}

.draft-editor-container .public-DraftStyleDefault-block {
  margin: 0.5em 0;
  font-size: 20px;
  line-height: 1.4;
}

.draft-editor-toolbar {
}

.rdw-editor-wrapper {
  height: 100%;
}

.public-DraftEditorPlaceholder-root {
  font-size: 20px;
  line-height: 1.4;
  padding: 15px 20px;
  opacity: 0.5;
  font-family: 'Source Sans Pro', serif !important;
}

.public-DraftEditor-content {
  padding: 5px 20px;
  overflow: auto;
}

[data-accordion-component='AccordionItemButton'] > div {
  padding-left: 60px;
  padding-right: 60px;
}

.DraftEditor-editorContainer {
  height: 100%;
}
