body {
  margin: 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* START Change default selections styles */
/* IE9  - Also picked up by most modern browsers */
::selection {
  background-color: #59dd7d !important;
  color: #ffffff !important;
}
/* Safari & Chrome - Webkit Rendering */
::-webkit-selection {
  background-color: #59dd7d !important;
  color: #ffffff !important;
}
/* Mozilla based - Gecko Rendering */
::-moz-selection {
  background-color: #59dd7d !important;
  color: #ffffff !important;
}
/* END Change default selections styles */

#root {
  height: 100%;
}
