html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateZ(0);
  height: 100%;
}
/* START Change default selections styles */
/* IE9  - Also picked up by most modern browsers */
::selection {
  background-color: #59dd7d !important;
  color: #ffffff !important;
}
/* Safari & Chrome - Webkit Rendering */
::-webkit-selection {
  background-color: #59dd7d !important;
  color: #ffffff !important;
}
/* Mozilla based - Gecko Rendering */
::-moz-selection {
  background-color: #59dd7d !important;
  color: #ffffff !important;
}
/* END Change default selections styles */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
